
.App{
   align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
}
input{
    background-color: transparent;
    text-align: center;
}
.container{
   
      margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

h1{
    padding: 5rem;
    align-items: center;
    display: block;
}

@media  (max-width: 1350px){
    .container{
          margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr ;
}
}

@media  (max-width: 720px){
    .App{
   align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
    .container{
         width: 100%;
     display: block;
     
    }
}

.growing-search {
    
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
  background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27,0.05) 0%, rgba(27, 27, 27,0.05) 50%,rgba(126, 126, 126,0.05) 50%, rgba(126, 126, 126,0.05) 100%),radial-gradient(circle at 18% 51%, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 50%,rgba(26, 26, 26,0.05) 50%, rgba(26, 26, 26,0.05) 100%),radial-gradient(circle at 29% 38%, rgba(160, 160, 160,0.05) 0%, rgba(160, 160, 160,0.05) 50%,rgba(212, 212, 212,0.05) 50%, rgba(212, 212, 212,0.05) 100%),linear-gradient(90deg, rgb(35, 74, 255),rgb(132, 161, 173));
  box-shadow: 0px 2px 18px 0px rgba(143,135,135,0.49);
-webkit-box-shadow: 0px 2px 18px 0px rgba(143,135,135,0.49);
-moz-box-shadow: 0px 2px 18px 0px rgba(143,135,135,0.49);
}

.growing-search div {
  display: inline-block;
  font-size: 12px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 155px;
  color: #fff;
  border-bottom: 1px solid #eee;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.growing-search .input input:focus {
  width: 250px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1.15em;
  color: #fff;
  background-color: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 200ms;
  
}

.growing-search .input input:hover, .growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus, .growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #3498db;
}

.btns{
    display: flex;
    justify-content: space-between;
}