*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --color-primary-500: #FFEB3B;
  --color-primary-600: #FDD835;
  --color-primary-900: #F57F17;
  --color-secondary-500: #009688;
  --color-secondary-900: #004D40;
  --font-primary: "Montserrat", sans-serif;
}


.card {
  width:25rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  transition: all 0.3s linear;
  overflow: hidden;
}

img{
    display: block;
    width: 100%;
    height: 24rem;
    object-fit: cover;
    border-radius: 5vh;
}


.btn{
    text-decoration: none;
     position: relative;
    display: inline-block;
     margin: 9px;
    padding: 1vh 4vh;
  background: #333;
  color: #f6f6f6;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  appearance: none;
  cursor: pointer;
  transition: background 250ms, box-shadow 250ms;
}